* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

nav {
  background: rgba(211, 211, 211, 0.4);
}

.top {
  display: none;
}

.logo {
  display: none;
}

.menu-mobile {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(300, 100, 50, 0.7);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.close {
  color: #fff;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: 40px;
  left: 310px;
}

.mobile-menu-list a {
  color: #fff;
  font-size: 30px;
}

.menu {
  display: none;
}

.open {
  font-size: 40px;
  padding: 30px;
}

.body {
  background-color: rgba(211, 211, 211, 0.4);
}

.main-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}

.intro {
  padding-top: 30px;
  font-size: 28px;
  color: #ec5242;
}

.title {
  font-size: 40px;
  color: #ec5242;
  padding-top: 10px;
}

.information {
  font-size: 16px;
  width: 100%;
  margin-top: 25px;
  padding: 20px;
  border: #fff solid 2px;
}

.date {
  margin-top: 30px;
}

.date-info {
  color: #272a31;
  font-size: 26px;
}

.date-para {
  margin-top: 5px;
  color: #272a31;
  font-size: 16px;
}

/* -----------------------main program-------------- */

.program-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-image: url(./images/background-pattern.png);
}

.main-program {
  color: #fff;
}

.line {
  background: #ec5242;
  width: 90px;
  height: 1px;
  margin: 10px;
}

.method-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.method {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: #fff;
}

.method-icon {
  font-size: 30px;
  margin-right: 10px;
}

h3 {
  color: #ec5242;
}

.method-title {
  width: 80%;
}

.method-info {
  font-size: 12px;
  width: 80%;
}

.button-join {
  color: #fff;
  background: #ec5242;
  padding: 15px 80px;
}

.button-desktop {
  display: none;
}

/* -------------------------- */

/* ------------------------about page---------------- */

.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-information {
  font-size: 16px;
  margin-top: 50px;
  padding: 30px 5px;
  background: #fff;
  border: #d3d3d3 solid 1px;
}

.about-info-mobile {
  display: block;
}

.about-info-desktop {
  display: none;
}

.contact-info {
  font-size: 15px;
  color: #272a31;
  margin-top: 15px;
}

.email {
  text-decoration: underline;
  font-size: 15px;
  color: #272a31;
  margin-top: 5px;
}

/* --------------------------teachers-------------------- */

.teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.teachers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.teachers-sample {
  display: flex;
}

.teachers-images {
  width: 150px;
  height: 150px;
}

.short-line {
  width: 40px;
  height: 1px;
  background: #272a31;
  margin-top: 10px;
  margin-bottom: 10px;
}

.teachers-info {
  width: 100%;
  float: right;
}

.teachers-name {
  color: #272a31;
}

.teachers-company {
  color: #ec5242;
}

.teachers-subject {
  font-size: 14px;
}

/* -------------------------- */

/* ------------------------about logo info---------------- */

.long-line {
  width: 100%;
  height: 1px;
  color: #d3d3d3;
}

.logo-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #fff;
  padding-top: 30px;
}

.about-headings {
  font-size: 22px;
  color: #272a31;
}

.about-para {
  text-align: center;
  color: #272a31;
  font-size: 16px;
  padding: 0 20px 40px 20px;
}

.logo-border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #d3d3d3 solid 1px;
  width: 90%;
  margin-bottom: 40px;
}

.logo2 {
  width: 100px;
  height: 100px;
}

.logo-name {
  font-size: 30px;
  margin-left: -15px;
}

/* ----------------------graduate students------------- */

.alumni {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.students-image {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
}

.image-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: rgba(300, 100, 50, 0.7);
}

h4 {
  color: #fff;
  font-size: 24px;
}

.image-p {
  color: #fff;
  font-size: 16px;
}

/* ----------------------partners------------- */

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #272a31;
}

.partner {
  color: #fff;
  font-size: 22px;
}

.partner-home {
  display: none;
}

.patner-logo {
  color: #d3d3d3;
  font-size: 50px;
  padding: 10px;
}

.patner-logo:hover {
  color: #ec5242;
}

/* ----------------------footer------------- */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer-logo {
  width: 100px;
  height: 100px;
}

.copy-right {
  color: #272a31;
  font-size: 16px;
}

.fa-heart {
  color: #ec5242;
}

/* footer display none for home mobile version */

.footer-home {
  display: none;
}

/* ----------------------desktop version---------------- */

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    height: 15vh;
    display: flex;
  }

  .top {
    display: flex;
    background: #272a31;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
  }

  .social {
    color: #fff;
    padding: 5px;
  }

  .top-list {
    color: #fff;
    margin-right: 100px;
  }

  .top-items {
    display: inline-block;
    padding: 10px;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #fff;
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    padding-left: 180px;
    padding-right: 200px;
  }

  .menu {
    display: flex;
    align-items: center
  }

  .menu-list {
    display: inline-block;
    padding-right: 50px;
  }

  .menu-list a {
    color: #000;
  }

  .menu-list a:hover {
    color: #ec5242;
  }

  .open {
    display: none;
  }

  .logo {
    display: block;
    width: 100px;
    height: 100px;
  }

  .button {
    color: #ec5242;
    border: #ec5242 solid 5px;
    background: #fff;
    padding: 10px;
    transition: 0.5s;
  }

  .button:hover {
    color: #fff;
    background: #ec5242;
  }

  .main-text {
    padding-right: 180px;
    padding-left: 200px;
    padding-bottom: 200px;
  }

  .intro {
    padding-top: 80px;
    font-size: 35px;
  }

  .title {
    font-size: 70px;
  }

  .information {
    width: 50%;
  }

  .date-info {
    font-size: 36px;
  }

  .date-para {
    font-size: 18px;
  }

  /* -----------------------main program-------------- */

  .program-container {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .method-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .line {
    margin-bottom: 40px;
  }

  .method {
    flex-direction: column;
    padding: 60px 10px;
    width: 220px;
  }

  .method:hover {
    border: #fff solid 2px;
  }

  .method-info {
    font-size: 18px;
    text-align: center;
  }

  .button-join {
    display: none;
  }

  .button-desktop {
    display: block;
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
  }

  .button-desktop:hover {
    color: #ec5242;
  }

  /* ----------------------------teachers-------------- */

  .teachers-container {
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: auto auto;
  }

  /* ------------------------------partners-------------- */

  .partners {
    display: flex;
  }

  /* ------------------------ */

  /* ------------------------about page-------------- */

  .about-body {
    padding-left: 200px;
    padding-right: 200px;
  }

  .about-info-mobile {
    display: none;
  }

  .about-info-desktop {
    display: block;
  }

  .contact-info {
    margin-top: 50px;
  }

  .email {
    margin-bottom: 50px;
  }

  .logo-border {
    width: 30%;
  }

  .students-image {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .partner-about {
    display: none;
  }

  .footer-about {
    background: #272a31;
  }

  .footer-about p {
    color: #d3d3d3;
  }
}
